.services-categories {
}

.service-category {
  &__container {
    padding: 110rem 150rem;
  }
  &__text {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 100rem;
    margin-top: 70rem;
    max-width: 810rem;
    padding-left: 110rem;
  }
  &-buttons {
    border-top: 1px solid $black;
    margin-top: 30px;
    padding-top: 100rem;
    padding-bottom: 50rem;
  }
  &-list {
    padding: 0 110rem;
    &__name {
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        font-weight: 500;
    }
    &__heading {
        border-top: 1px solid $black;
        font-size: 28px;
        line-height: 34px;
        font-weight: 600;
        padding-top: 30px;
        margin-top: 30px;
    }
    &__links {
        list-style: none;
        padding: 0 200rem 0 0;
        &--style-1 {
            .service-category-list {
                &__link {
                    padding: 3px;
                    display: inline-block;
                    &:before {
                        content:"/";
                        padding: 0 5px 0 0;
                    }
                    &-item {
                        display: inline-block;
                        &:first-child {
                            a {
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &--style-2 {
            column-count: 2;
            .service-category-list {
                &__link {
                    padding: 3px;
                    display: block;
                    font-size: 22px;
                    line-height: 27px;
                    font-weight: 600;
                    text-transform: uppercase;
                    border-top: 1px solid $black;
                    padding: 25px 0;
                    &-item {
                        display: block;
                    }
                }
                &__link-item {
                    &:last-child {
                        a {
                            border-bottom: 1px solid $black;
                        }
                    }
                }
            }
        }
    }
  }
}
