.services-hero {
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100000;
  padding: 200rem 0 0 0;
  @media (max-width: $md) {
    background-position: 0;
  }
  &__breadcrumbs {
    padding-left: 140rem;
    @media (max-width: $md) {
      display: none;
    }
    .breadcrumbs {
      margin-top: 20rem;
    }
  }
  &__pre-heading {
    font-size: 42rem;
    font-weight: 600;
    line-height: 42rem;
    color: $black50;
    padding: 45rem 0 20rem 140rem;
    letter-spacing: -0.02em;
    @media (max-width: $md) {
      font-size: 20px;
      line-height: 20px;
      padding: 0;
    }
  }
  &__heading {
    color: $white;
    padding: 0;
    font-size: 150rem;
    font-weight: 600;
    line-height: 150rem;
    letter-spacing: -0.02em;
    @media (max-width: $md) {
      font-size: 72px;
      line-height: 72px;
      padding-left: 0;
      padding-top: 25px;
      padding-bottom: 30px;
      border-bottom: 1px solid $black40;
    }
    span {
      color: $black40;
      font-size: 48rem;
      line-height: 48rem;
      letter-spacing: -0.02rem;
      position: absolute;
      margin-left: 10rem;
    }
    &--small {
      @media (max-width: $md) {
        border: 0;
        font-size: 48px;
        line-height: 48px;
        padding-left: 0;
        padding-top: 25px;
        padding-bottom: 30px;
        span {
          font-size: 18px;
          line-height: 18px;
          letter-spacing: -0.02rem;
          position: absolute;
          margin-left: 10rem;
        }
      }
    }
  }

  &__description {
    opacity: 0.5;
    color: $white;
    font-size: 20rem;
    line-height: 32rem;
    font-weight: 400;
    max-width: 780rem;
    &--lead {
      font-size: 36rem;
      line-height: 50.4rem;
      max-width: 720rem;
      font-weight: 500;
      margin-top: 53rem;
      margin-bottom: 40rem;
      @media (max-width: $md) {
        font-size: 20px;
        line-height: 28px;
        max-width: 90%;
        margin-top: 30px;
        margin-bottom: 16px;
      }
    }
  }
  &__logos {
    display: block;
    margin-bottom: 25rem;
  }
  &__column {
    &--left {
      padding: 100rem 0 0 170rem;
    }
    &--right {
      display: flex;
      flex-flow: column;
      align-items: end;
      padding-right: 140rem;
      justify-content: center;
      padding-top: 230rem;
      @media (min-width: $md + 1) {
        padding-left: 15rem;
      }
    }
  }
  &__triangle {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: inherit;
      bottom: -126rem;
      left: 0;
      border-top: 135rem solid $black;
      border-bottom: 0;
      border-right: 135rem solid transparent;
      border-left: 0;
      z-index: 9999;
    }
  }
  &--category {
    height: 100%;
    .case-studies-hero {
      &__heading {
        font-size: 150rem !important;
        padding-top: 80rem;
        text-align: left;
      }
    }
  }
  &-categories {
    padding: 80rem 163rem 108rem 140rem;
    &__heading {
      opacity: 0.5;
      color: $white;
      font-size: 20rem;
      line-height: 32rem;
      font-weight: 400;
      padding-bottom: 50rem;
    }
    &-column {
      &__heading {
        color: $white;
        font-size: 32rem;
        line-height: 32rem;
        letter-spacing: -0.02em;
        position: absolute;
        top: 19rem;
        left: 53rem;
        min-width: 210rem;
        &-wrapper {
          position: relative;
          margin-bottom: 40rem;
        }
      }
      &__name {
        color: $white50;
        font-size: 15rem;
        font-weight: 600;
        line-height: 15rem;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-bottom: 18rem;
        padding-left: 25rem;
        padding-top: 60rem;
        border-bottom: 1px solid $black80;
        padding-bottom: 20rem;
        @media (max-width: $xxl) {
          font-size: 13px;
        }
        @media (max-width: $xl) {
          padding-left: 50px;
        }
      }
    }
  }
}
