.case-studies-big-scrolling-text {
background-color: $black;
    &__heading {
        color: $white;
        text-align: center;
        font-size: 210rem;
        line-height: 210rem;
        margin: auto;
        padding: 100px 0;
    }
}