.case-studies-hero {
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 990rem;
  position: relative;
  @media (max-width: $lg) {
    overflow: hidden;
    height: 445px;
  }
  @media (max-width: $md) {
    overflow: hidden;
  }
  &__wrapper {
    overflow: hidden;
    @media (max-width: $lg) {
      height: 445px;
    }
  }
  &__container {
    height: 790rem;
  }
  &__heading {
    font-size: 400rem !important;
    line-height: 600rem;
    text-align: center;
    @media (max-width: $lg) {
      font-size: 116px !important;
      line-height: 116px;
    }
  }
  &__categories {
    display: flex;
    justify-content: center;
    color: $white;
    margin-top: 120rem;
    margin-bottom: 100rem;
    @media (max-width: $lg) {
      font-size: 17px;
      line-height: 27px;
      padding-top: 20px;
      margin-top: 0;
      border-top: 1px solid $black40;
    }
  }
  &__category {
    margin-right: 40px;
    font-size: 30px;
    line-height: 48px;
    @media (max-width: $lg) {
      font-size: 17px;
      line-height: 27px;
      margin-right: 30px;
    }
    &:first-child {
      list-style: none;
    }
  }
  &__btn {
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 22rem;
    line-height: 26rem;
    padding: 0 30px;
    @media (max-width: $lg) {
      font-size: 12px;
      line-height: 14px;
    }
    &:before {
      content: "";
      background-image: url("../../dist/img/arrow-small.svg");
      background-repeat: no-repeat;
      height: 14px;
      width: 24px;
      position: absolute;
      bottom: 34rem;
      background-size: 24px;
      @media (max-width: $lg) {
        bottom: 34px;
      }
    }
  }
  &__rectangles {
    position: relative;
    @media (max-width: $lg) {
      display: none;
    }
    &:before {
      content: "";
      width: 150px;
      height: 150px;
      position: absolute;
      background-image: url("../../dist/img/rectangles.svg");
      background-repeat: no-repeat;
      background-position: top left;
      z-index: 0;
      right: 0;
      bottom: -75px;
    }
  }
}
