.case-studies-two-columns-heading-content {
  &__container {
    padding: 64rem 140rem 64rem 125rem;
    @media (max-width: $md) {
      padding: 25px;
    }
  }
  &__heading {
    font-size: 48rem;
    line-height: 58rem;
    max-width: 550rem;
    @media (max-width: $xl) {
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -2px;
    }
    @media (max-width: $md) {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  &__description {
    p {
      margin-top: 0;
      font-size: 18px;
      line-height: 29px;
      @media (max-width: $xl) {
        font-size: 16px;
        line-height: 26px;
      }
    }
    ul,ol {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      li {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 29px;
        @media (max-width: $xl) {
        font-size: 16px;
        line-height: 26px;
        }
      }
    }
  }
}
