.burger-menu {
  display: none;
  align-items: center;
  justify-content: end;
  @media (max-width: $xl) {
    display: flex;
    padding-right: 0;
  }
  @media (max-width: $md) {
    padding-left: 5px;
  }
  &__bar {
    transform: 0.2s;
    cursor: pointer;
  }
  &__close {
    position: absolute;
    z-index: 100000;
    @media (max-width: $xl) {
      transform: translate(136rem, -68rem);
    }
    @media (max-width: $md) {
      transform: translate(30px, -30px);
    }

    img {
      position: relative;
      z-index: 10002;
      top: 30px;
      right: 20px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-top: 100px solid $white;
      border-bottom: 0;
      border-right: 100px solid transparent;
      border-left: 0;
      transform: rotate(90deg);
      z-index: 10001;
    }
  }
}

.main-menu-mobile {
  display: none;
  height: 100vh;
  @media (max-width: $xl) {
    padding: 0;
    display: block;
    z-index: 10000;
  }
  @media (max-width: $md) {
    padding-left: 25px;
    padding-right: 25px;
  }
  &__overlay {
    content: "";
    position: absolute;
    bottom: 0;
    left: -9%;
    border-top: 2000px solid $white;
    border-bottom: 0;
    border-right: 2000px solid transparent;
    border-left: 0;
    transform: rotate(270deg);
    z-index: 10001;
  }
  ul {
    li {
      font-size: 40px;
      line-height: 48px;
      color: $white;
      font-weight: 500;
      border-bottom: 1px solid $white20;
      padding-bottom: 15px;
      margin-bottom: 10px;
      &.menu-item-has-children {
        color: $white30;
      }
    }
  }
  &__slide {
    span {
      background-image: url("../../dist/img/arrow-big.svg");
      background-position: calc(100% - 15px) center;
      background-repeat: no-repeat;
    }
  }
  .nav,
  .nav__sub {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    list-style-type: none;
  }
  .nav {
    padding: 0;
  }
  .nav__item + .nav__item {
    margin-top: 15px;
  }
  .nav__link {
    font-weight: 500;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    &.sub__close {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: $white50;
      &:before {
        content: "";
        background-image: url("../../dist/img/arrow-big.svg");
        background-repeat: no-repeat;
        background-position: inherit;
        margin-right: 5px;
        transform: rotate(180deg);
        width: 16px;
        height: 16px;
        background-size: 16px;
        display: inline-block;
        opacity: 0.5;
      }
    }
    &--no-arrow {
      background-image: none;
    }
  }
  .nav__link-to-page {
    background-color: $purple;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border-radius: 39px;
    padding: 10px 20px;
    position: absolute;
    transform: translate(175px, -43px);
  }
  .nav__sub {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    transform: translateX(100%);

    &.is-active {
      height: auto;
      opacity: 1;
      visibility: visible;
      transform: translateX(0%);
      background-color: $black;
      padding-bottom: 80px;
    }
  }
  .main-menu {
    &-submenu {
      &-column {
        .link {
          display: none;
        }
        &.active-menu {
          .link {
            display: inline-block;
            padding-right: 22px;
          }
        }
        &__heading-wrapper {
          cursor: pointer;
          svg {
            width: 70px;
            height: 70px;
          }
        }
        &__heading {
          font-size: 20px;
          line-height: 20px;
          letter-spacing: -0.02em;
          max-width: 130px;
        }
        &__heading-wrapper {
          position: relative;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          &:after {
            content: "";
            display: inline-block;
            background-image: url("../../dist/img/arrow-dropdown-light.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 20px;
            height: 12px;
            opacity: 0.6;
            // transform: rotate(180deg);
            transition-duration: 0.2s;
            position: absolute;
            right: 0;
          }
        }
        &__menu-name {
          margin-left: 50px;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: -0.02em;
        }
        &__menu-item {
          margin-bottom: 0;
          line-height: 25px;
          border: 0;
          @media (max-width: $xl) {
            padding-bottom: 5px;
          }
        }
        &__menu-link {
          font-size: 21px;
          font-weight: 400;
          line-height: 25px;
          display: inline-block;
          padding-left: 0;
        }
        &__menu-list {
          display: none;
          border: 0;
        }
        &.active-menu {
          .main-menu-submenu-column {
            &__heading-wrapper {
              &:after {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
  .sub-menu {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: baseline;
    li {
      margin-left: 10px;
      margin-right: 37px;
      border: 0;
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-top: 0;
      line-height: 25px;
      @media(max-width:$xl) {
        margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
      a {
        color: $white;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
      }
    }
  }
}

.menu-mobile-container {
  @media (max-width: $xl) {
    padding-bottom: 70px;
  }
}
