.progress-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.progress-container {
    height: 10rem;
    width: 100%;
}

.progress-bar {
    background-color: #9366d7;
    height: 15rem;
    width: 0%;
    @media (max-width: $md) {
        height: 5px;
    }
}