.case-studies-categories {
    &__items {
        display: flex;
        list-style: none;
        padding: 24rem 130rem 46rem;
        border-bottom: 1px solid $black40;
        margin-bottom: 0;
        @media(max-width: $md) {
            padding: 20px 0;
            margin-top: 5px;
        }
    }
    &__item {
        margin-right: 19rem;
        text-transform: uppercase;
        transition: all 0.2s;
        @media(max-width: $md) {
            text-align: center;
        }
        &:hover {
            box-shadow: 0 0 0 1px $silver;
            border-radius: 60px;
        }
        
        a {
            padding: 11rem 20rem;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
            display: block;
            @media(max-width: $md) {
                text-align: center;
                font-size: 15px;
                line-height: 18px;
                padding: 11px 20px;
            }
        }
        &--active {
            background-color: $silver;
            border-radius: 60px;
        }
    }
}