.services-block-projects {
  margin: 130rem 0;
  width: 100%;
  @media(max-width: $lg) {
    overflow: hidden;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30rem;
    flex-wrap: nowrap;
    .f-h3 {
      font-size: 36rem;
      line-height: 54rem;
      position: relative;
      white-space: nowrap;
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: -340rem;
        width: 260rem;
        height: 260rem;
        background-image: url(/dist/img/block-projects-element.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    &__border {
      position: relative;
      width: 100%;
      height: 65rem;
      background-color: #dedee5;
    }
  }
  &__title {
    @media(min-width: $md + 1) {
    font-size: 28rem;
    line-height: 37rem;
    }
  }
  &__category {
    margin: 0;
    @media(min-width: $md + 1) {
    font-size: 19rem;
    }
    color: #808080;
  }
  &__column {
    border-right: 65rem solid #dedee5;
    padding-right: 0;
    @media(max-width: $md) {
        border: 0;
    }
  }
  &__bottom-line {
    padding-right: 0;
  }
  .swiper {
    width: 115%;
    height: 535rem;
    padding-top: 50rem;
    .swiper-slide {
      background: transparent;
      img {
        @media(min-width: $md + 1) {
        width: 560rem;
        }
      }
      .swiper-content {
        padding: 10px 0;
        .f-h4 {
          font-size: 26rem;
          line-height: 120%;
          letter-spacing: -0.01em;
          padding-right: 31rem;
        }
        .link {
          width: fit-content;
        }
      }
    }
  }
  &__border-bottom {
    position: relative;
    width: 100%;
    height: 65rem;
    background-color: #dedee5;
    .arrow-buttons {
      position: absolute;
      left: -55rem;
      top: -225rem;
      opacity: 0.5;
    }
  }
  @media (max-width: 1199px) {
    &__border-bottom {
      .arrow-buttons {
        left: -95rem;
      }
    }
  }
  @media (max-width: 767px) {
    .swiper {
      width: 120%;
      height: auto;
      border-right: 0 solid transparent;
      margin-top: 25px;
      .swiper-slide {
        .swiper-content {
          min-height: 140px;
          padding: 10px 0;
          .f-h4 {
            font-size: 16px;
            margin-left: 5px;
            padding-right: 10px;
          }
          .link {
            margin-left: 5px;
            width: fit-content;
            &__black {
              &--underline {
                &::after {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
    &__border-bottom {
      display: none;
      .arrow-buttons {
        display: none;
      }
    }
    &__top {
      .f-h3 {
        font-size: 32px;
        &::before {
          display: none;
        }
      }
      &__border {
        height: 35px;
        min-width: 100vw;
        @media(max-width: $lg) {
          display: none;
        }
      }
    }
  }
}
