

footer {
    background-color: $black;
    width: 100%;
    height: auto;
    .footer {
        .footer-border {
            width: 100%;
            position: relative;
            width: 100%;

            &::after {
                content: "";
                position: absolute;
                top: 0rem;
                right: 0rem;
                width: 195rem;
                height: 130rem;
                background-image: url("../../dist/img/ShapeSmartBrands.svg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @media (max-width: 1199px) {
                    width: 125rem;
                    height: 80rem;
                    top: 3rem;
                    right: -13rem;
                }
            }
            @media (max-width: 767px) {
                &::after {
                    right: -25px;
                    top: 0px;
                    width: 140px;
                    height: 92px;
                }
            }
        }
        &__left {
            padding: 80rem 0 30rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            &__logo-funktional {
                margin-bottom: 85rem;
            }
            .f-h5 {
                margin-top: 80rem;
            }
            &__form-content {
                margin: 30rem 0 40rem;
                .form-label {
                    display: block;
                    width: 15.62vw;
                    position: relative;
                    font-family: $font-main;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16rem;
                    line-height: 19px;
                    color: $black40;
                    padding: 15px 0;
                    border-bottom: 1px solid $black60;
                    &::before {
                        content: "";
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                        background-image: url("../../dist/img/arrow-purple.svg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
            &__contact {
                display: flex;
                flex-direction: column;
                gap: 15px;
                a {
                    font-family: $font-main;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18rem;
                    line-height: 22rem;
                    color: $purple;
                }
            }
            @media (max-width: 991px) {
                padding: 40px 0 0 11%;

                &__form-content {
                    margin: 30rem 0 40rem;
                    .form-label {
                        width: 65vw;
                    }
                }
            }
            @media (max-width: 767px) {
                padding: 40px 0 0;
                &__logo-funktional {
                    margin-bottom: 55px;
                    a {
                        img {
                            height: 24px;
                        }
                    }
                }
                .f-h5 {
                    margin-top: 50px;
                    font-size: 24px;
                    line-height: 29px;
                }
                &__form-content {
                    margin: 30px 0 40px;
                    .form-label {
                        width: 80%;
                        font-size: 16px;
                        line-height: 19px;
                        padding: 15px 0;
                        border-bottom: 1px solid $black60;
                    }
                }
                &__contact {
                    a {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
        }
        &__right {
            padding: 80rem 0 0;
            margin-bottom: 30rem;
            @media (max-width: 991px) {
                padding: 0;
            }
            &__city {
                height: 35px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 100rem;
                .text-main {
                    margin: 0;
                    color: $white;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0.3em;
                    text-transform: uppercase;
                    position: relative;
                    white-space: nowrap;
                    width: auto;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: -63rem;
                        width: 22px;
                        height: 2px;
                        transform: rotate(-40deg) translateY(-50%);
                        background-color: #333333;
                    }
                    &:nth-last-child(1) {
                        &::after {
                            display: none;
                        }
                    }
                    @media (max-width: 1590px) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
                @media (max-width: 1399px) {
                    gap: 65rem;
                    .text-main {
                        &::after {
                            right: -45rem;
                        }
                    }
                }
                @media (max-width: 991px) {
                    justify-content: center;
                    margin-top: 55px;
                }
                @media (max-width: 767px) {
                    height: auto;
                    .text-main {
                        font-size: 16px;
                    }
                    align-items: center;
                    flex-wrap: wrap;
                    .text-main {
                        width: 45%;
                        text-align: center;
                        &:nth-child(even) {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
            &__content {
                display: flex;
                justify-content: flex-start;
                margin: 80rem 0;
                gap: 30rem;
                width: 100%;
                ul,
                li {
                    margin: 0;
                    padding: 0;
                    text-indent: 0;
                    list-style-type: none;
                }
                &__list {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    min-width: 13.02vw;
                    
                    .f-h5 {
                        height: 56rem;
                        line-height: 56rem;
                        margin-bottom: 15rem;
                    }
                    .items-footer {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 15rem;
                        li {
                            font-family: $font-main;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16rem;
                            line-height: 19rem;
                            color: $black50;
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                    &:nth-child(1) {
                        margin-right: 45rem;
                        .items-footer li {
                            font-weight: 500;
                            font-size: 18rem;
                            line-height: 22rem;
                        }
                        @media (max-width: 1399px) {
                            min-width: auto;
                        }
                    }
                }
                @media (max-width: 991px) {
                    justify-content: center;
                }
                @media (max-width: 767px) {
                    flex-direction: column;
                    width: 100%;
                    gap: 50px;
                    margin-bottom: 35px;
                    margin-top: 40px;
                    &__list {
                        width: 100%;
                        .f-h5 {
                            height: auto;
                            font-size: 24px;
                            line-height: 29px;
                            margin-bottom: 20px;
                        }
                        .items-footer {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            gap: 15px;
                            li {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 22px;
                            }
                        }
                        &:nth-child(1) {
                            margin-right: 0;
                            .items-footer li {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }
            &__awards {
                display: flex;
                justify-content: space-between;
                height: 65rem;
                &__box {
                    display: flex;
                    justify-content: flex-start;
                    gap: 50rem;
                    align-items: center;
                    height: 100%;

                    &__icon {
                        img {
                            height: 65rem;
                        }
                        &:nth-last-child(1) img {
                            height: 15rem;
                        }
                    }
                }
                &__reviews {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    img {
                        height: 65rem;
                    }
                }
                @media (max-width: 1199px) {
                    height: 50rem;
                    &__box {
                        gap: 25rem;
                        img {
                            height: 50rem;
                        }
                    }
                    &__reviews {
                        img {
                            height: 50rem;
                        }
                    }
                }
                @media (max-width: 991px) {
                    height: auto;
                    gap: 50px;
                    flex-direction: column;
                    align-items: center;
                    &__box {
                        display: flex;
                        justify-content: flex-start;
                        gap: 50px 0;
                        align-items: center;
                        justify-content: center;
                        height: auto;
                        width: auto;
                        flex-wrap: wrap;
                        &__icon {
                            flex-basis: 30%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                height: 65px;
                                width: auto;
                            }
                            &:nth-last-child(1) img {
                                height: 15px;
                            }
                        }
                    }
                    &__reviews {
                        img {
                            height: 60px;
                        }
                    }
                }
            }
            &__bottom {
                margin: 95rem 0 115rem;
                display: flex;
                justify-content: space-between;
                &__social {
                    display: flex;
                    justify-content: flex-start;
                    gap: 45rem;
                    a {
                        svg {
                            width: 24rem;
                            height: 24rem;
                            g {
                                transition: all 0.2s;
                            }
                        }
                        svg:hover {
                            g {
                                opacity: 1;
                            }
                        }
                    }
                }
                &__info {
                    display: flex;
                    justify-content: flex-end;
                    gap: 60rem;
                    a,
                    .text-main {
                        font-family: $font-main;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14rem;
                        line-height: 150%;
                        color: $black50;
                        margin: 0;
                        width: auto;
                    }
                    a:hover {
                        color: $white;
                    }
                }
                @media (max-width: 991px) {
                    flex-direction: column;
                    margin: 55px 0 65px;
                    gap: 45px;
                    &__social {
                        justify-content: center;
                        gap: 40px;
                        a {
                            svg {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                    &__info {
                        justify-content: space-around;
                        gap: 3.12vw;
                        a,
                        .text-main {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
