.hp-work {
    padding: 130rem 0 65rem 0;
    // background-color: $black;
    height: 1000rem;
    height: auto;
    position: relative;
    overflow: hidden;
    @media (max-width: $md) {
        padding: 25px 0 50px 0;
    }
    &__triangle {
        &--left {
            position: absolute;
            left: 0;
            top: 0;
            svg {
                min-height: 1095rem;
                position: relative;
                z-index: 9999;
            }
        }
        &--right {
            position: absolute;
            right: 0;
            top: 0;
            svg {
                min-height: 1095rem;
                position: relative;
                z-index: 9999;
            }
        }
    }
    // &:before {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     border-top: 1095rem solid $white;
    //     border-bottom: 0;
    //     border-right: 1095rem solid transparent;
    //     border-left: 0;
    //     transform: rotate(270deg);
    //     z-index: 10000;
    //   }
    //   &:after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    //     border-top: 1095rem solid $white;
    //     border-bottom: 0;
    //     border-right: 1095rem solid transparent;
    //     border-left: 0;
    //     transform: rotate(180deg);
    //     z-index: 10000;
    //   }
    .hp-work-header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        h2 {
            color: $purple;
            position: relative;
            z-index: 99;
        }
        &__wrap {
            // background-color: red;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .arrow-buttons {
                top: -20px;
            }
        }
        .button-content-next svg,
        .button-content-prev svg {
            fill: white;
        }

        .arrow-buttons {
            position: relative;
        }
        &__traingle {
            position: absolute;
            top: -65rem;
            opacity: 0.1;
            z-index: 9;
            pointer-events: none;
            transition: opacity 1s;
            @media (max-width: $md) {
                top: 0px;
            }
        }
        &__traingle-element {
            width: 0;
            height: 0;
            border-top: 640rem solid #333333;
            border-right: 640rem solid transparent;
            mix-blend-mode: normal;
            pointer-events: none;
        }
        @media (max-width: $md) {
            h2 {
                left: 25px;
                font-size: 76px;
                margin-top: 5px;
            }
            &__traingle-element {
                border-top: 200px solid #333333;
                border-right: 200px solid transparent;
            }
        }
    }
    .hp-work-carousel {
        overflow: hidden;
        display: flex;
        align-items: center;
        z-index: 999;
        top: -20px;
        position: relative;
        &__wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 330rem;
            padding-right: 7.55vw;
            position: relative;
            height: calc(100% + 60px);
        }
        &__item {
            // border: 1px solid red;
            width: 670rem;
            margin-right: 60rem;
            padding-top: 60rem;
            &:last-child {
                margin-right: 0;
            }
            // &:nth-child(even) {
            //     position: relative;
            //     transform: translateY(-30px);
            // }
            &__header {
                color: white;
                font-size: 40rem;
                line-height: 40rem;
                margin-top: 12px;
            }
            &__category {
                margin: 0;
                margin-top: 15px;
                color: #ffffff;
                opacity: 0.5;
                display: flex;
                span {
                    position: relative;
                    &:nth-child(n + 2) {
                        position: relative;
                        padding-left: 12px;
                        margin-left: 6px;
                        @media (max-width: $md) {
                            padding-left: 12px;
                        }
                        &::before {
                            content: "";
                            background-color: $white;
                            opacity: 0.5;
                            height: 5rem;
                            width: 5rem;
                            border-radius: 100%;
                            position: absolute;
                            left: 1rem;
                            top: 50%;
                            transform: translateY(-50%);
                            @media (max-width: $md) {
                                height: 5px;
                                width: 5px;
                                left: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
    .all-services-href {
        width: 100%;
        display: flex;
        .btn {
            margin: 100rem auto 0 auto;
        }
    }
    .hp-work-carousel {
        overflow: hidden;
        display: flex;
        align-items: center;
        z-index: 999;
        top: -20px;
        position: relative;
        &__wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 330rem;
            padding-right: 7.55vw;
            position: relative;
            height: calc(100% + 60px);
        }
        &__item {
            // border: 1px solid red;
            width: 670rem;
            margin-right: 60rem;
            padding-top: 60rem;
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(even) {
                position: relative;
                transform: translateY(-30px);
            }
            &__header {
                color: white;

                font-size: 40rem;
                line-height: 40rem;
                margin-top: 12px;
            }
            &__category {
                margin: 0;
                margin-top: 15px;
                color: #ffffff;
                opacity: 0.5;
            }
        }
    }
}

// invert
// .color-invert {
//     &--active{
//         filter: invert(1);
//     }
// }

.color-invert {
    filter: invert(1);
    // transition: all 1s;
}
