.case-studies-awards {
    margin-bottom: 157rem;
    @media (max-width: $md) {
        margin-bottom: 40px;
    }
    &__logos {
        padding-left: 73rem;
        padding-right: 120rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media (min-width: $hd) {
            padding-left: 50px;
        }
        @media (max-width: $md) {
            grid-template-columns: repeat(3, 2fr);
            padding-left: 60px;
        }
    }
    &__logo {
        border-top: 1px solid $gray;
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: center;
        border: 0;
        @media (min-width: $hd) {
            padding-top: 25px;
            padding-bottom: 6px;
        }
        &:nth-child(n + 5) {
            border: 0;
        }
        @media (max-width: $md) {
            &:nth-child(5),
            &:nth-child(6) {
                border: 0;
            }
            &:nth-child(7),
            &:nth-child(8) {
                display: none;
            }
        }
    }
    &__column {
        &--left {
            padding-left: 0;
            @media (max-width: $md) {
                margin-left: -10px;
            }
        }
    }
}
