.case-studies-content {
    padding: 92rem 140rem;
    &__column {
        margin-bottom: 100rem;
        &:nth-child(even) {
            padding-left: 15rem;
        }
        &:nth-child(odd) {
            padding-right: 15rem;
        }
    }
    &__heading {
        font-size: 40rem;
        line-height: 52rem;
        margin-top: 10rem;
        font-weight: 600;
        @media(max-width: $lg) {
            font-size: 24px;
            line-height: 31px;
        }
    }
    &__link {
        display: block;
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__description {
        display: flex;
        color: $black50;
        list-style: none;
        margin: 5rem 0 0 0;
        font-size: 18rem;
        padding: 0;
        @media(max-width: $lg) {
            font-size: 18px;
            line-height: 29px;
        }
        li {
            &:after {
                content: "·";

            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    &__item {
        width: auto !important;
    }
    &-arrows {
        position: relative;
        z-index: 100000;
        &__container {
            position: relative;
        }
        &__buttons {
            left: inherit;
            right: 90rem;
            top: 30rem;
        }
        &__button {
            &--dark {
                background-color: $black !important;
                span {
                    color: $white !important;
                }
                svg {
                    fill: $white !important
                }
            }
        }
    }
}