.case-studies-hero {
  background-color: $black;
  background-image: url("../../dist/img/hero-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100000;
  padding: 200rem 0 0 0;
  @media (max-width: $md) {
    background-position: 0;
  }
  &__breadcrumbs {
    padding-left: 140rem;
    @media (max-width: $md) {
        display: none;
    }
    .breadcrumbs {
      margin-top: 20rem;
    }
  }
  &__pre-heading {
    font-size: 42rem;
    font-weight: 600;
    line-height: 42rem;
    color: $black50;
    padding: 45rem 0 20rem 140rem;
    letter-spacing: -0.02em;
    @media (max-width: $md) {
      font-size: 20px;
      line-height: 20px;
      padding: 0;
    }
  }
  &__heading {
    color: $white;
    padding: 50px 50rem 85rem 140rem;
    font-size: 150rem;
    font-weight: 600;
    line-height: 150rem;
    letter-spacing: -0.02em;
    @media (max-width: $md) {
      font-size: 72px;
      line-height: 72px;
      padding-left: 0;
      padding-top: 25px;
      padding-bottom: 30px;
      border-bottom: 1px solid $black40;
    }
    span {
      color: $black40;
      font-size: 48rem;
      line-height: 48rem;
      letter-spacing: -0.02rem;
      position: absolute;
      margin-left: 10rem;
    }
    &--small {
      @media (max-width: $md) {
        border: 0;
        font-size: 48px;
        line-height: 48px;
        padding-left: 0;
        padding-top: 25px;
        padding-bottom: 30px;
        span {
          font-size: 18px;
          line-height: 18px;
          letter-spacing: -0.02rem;
          position: absolute;
          margin-left: 10rem;
        }
      }
    }
  }

  &__description {
    color: $white;
    font-size: 24rem;
    line-height: 34rem;
    margin-top: 77rem;
    margin-bottom: 45rem;
    max-width: 640rem;
    font-weight: 500;
    @media (max-width: $md) {
      font-size: 20px;
      line-height: 28px;
      max-width: 90%;
      margin-top: 30px;
      margin-bottom: 16px;
    }
  }
  &__column {
    &--right {
      @media (min-width: $md + 1) {
        padding-left: 15rem;
      }
    }
  }
  &__triangle {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: inherit;
      bottom: -126rem;
      left: 0;
      border-top: 135rem solid #121212;
      border-bottom: 0;
      border-right: 135rem solid transparent;
      border-left: 0;
      z-index: 9999;
    }
  }
  &--category {
    height: 100%;
    .case-studies-hero {
      &__heading {
        font-size: 150rem !important;
        padding-top: 80rem;
        text-align: left;
      }
    }
  }
}
