html {
  font-size: 0.052083333333333336vw;
  @media (min-width: $hd) {
    font-size: 0.062rem;
  }
}
.text-main,
p {
  font-size: 16rem;
  &--f20 {
    font-size: 20rem;
  }
  &--f18 {
    font-size: 18rem;
  }
  &--f15 {
    font-size: 15rem;
  }
  &--f14 {
    font-size: 14rem;
  }
  &--f12 {
    font-size: 12rem;
  }
  @media (max-width: $xxl) {
    font-size: 18rem;
    line-height: normal;
    &--f20 {
      font-size: 22rem;
    }
    &--f18 {
      font-size: 20rem;
    }
    &--f15 {
      font-size: 17rem;
    }
    &--f14 {
      font-size: 16rem;
    }
    &--f12 {
      font-size: 14rem;
    }
  }
  @media (max-width: $lg) {
    font-size: 20rem;
    line-height: normal;
    &--f20 {
      font-size: 24rem;
    }
    &--f18 {
      font-size: 22rem;
    }
    &--f15 {
      font-size: 19rem;
    }
    &--f14 {
      font-size: 18rem;
    }
    &--f12 {
      font-size: 16rem;
    }
  }
  @media (max-width: $md) {
    font-size: 14px;
    line-height: normal;
    &--f20 {
      font-size: 18px;
    }
    &--f18 {
      font-size: 16px;
    }
    &--f15 {
      font-size: 14px;
    }
    &--f14 {
      font-size: 14px;
    }
    &--f12 {
      font-size: 12px;
    }
  }
}

.fw {
  &--100 {
    font-weight: 100;
  }
  &--200 {
    font-weight: 200;
  }
  &--300 {
    font-weight: 300;
  }
  &--400 {
    font-weight: 400;
  }
  &--500 {
    font-weight: 500;
  }
  &--600 {
    font-weight: 600;
  }
  &--700 {
    font-weight: 700;
  }
  &--800 {
    font-weight: 800;
  }
}

.text-lead {
  font-size: 24rem;
  font-weight: 500;
  line-height: 140%;
  &--big {
    font-size: 32rem;
    font-weight: 600;
    line-height: 150%;
    @media (max-width: $lg) {
      font-size: 20px;
      line-height: normal;
    }
  }
  @media (max-width: $lg) {
    font-size: 16px;
  }
}

// /*styl-fonts*/
h1,
.f-h1 {
  font-size: 150rem;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: -0.02em;
  &--small {
    font-size: 100rem;
  }
  @media (max-width: $md) {
    font-size: 42px;
    line-height: normal;
    &--small {
      font-size: 32px;
    }
  }
}

h2,
.f-h2 {
  font-size: 72rem;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: -0.02em;
  @media (max-width: $md) {
    font-size: 28px;
    line-height: normal;
  }
  &--f-60 {
    font-size: 60rem;
    line-height: 60rem;
    @media (max-width: $md) {
      font-size: 18px;
      line-height: normal;
    }
  }
  &--f-120 {
    font-size: 120rem;
    line-height: 120rem;
    @media (max-width: $md) {
      font-size: 36px;
      line-height: normal;
    }
  }
  &--f-150 {
    font-size: 150rem;
    line-height: 150rem;
    @media (max-width: $md) {
      font-size: 36px;
      line-height: normal;
    }
  }
  &--f-200 {
    font-size: 200rem;
    line-height: 200rem;
    @media (max-width: $md) {
      font-size: 40px;
      line-height: normal;
    }
  }
}

h3,
.f-h3 {
  font-size: 48rem;
  line-height: 120%;
  font-weight: 600;
  @media (max-width: $md) {
    font-size: 24px;
    line-height: normal;
  }
}

h4,
.f-h4 {
  font-size: 36rem;
  line-height: 150%;
  font-weight: 600;
  @media (max-width: $md) {
    font-size: 18px;
    line-height: normal;
  }
}

h5,
.f-h5 {
  font-size: 24rem;
  line-height: 120%;
  font-weight: 700;
  @media (max-width: $lg) {
    font-size: 16px;
    line-height: normal;
  }
}

h1,
.f-h1,
h2,
.f-h2,
h3,
.f-h3,
h4,
.f-h4,
h5,
.f-h5 {
  margin: 0;
  color: $black;
  font-style: normal;
  font-family: $font-main;
  &--white {
    color: $white;
  }
  &--yellow {
    color: $yellow;
  }
  &--purple {
    color: $purple;
  }
}
