/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font-main: "Inter", sans-serif;

/* COLORS */
$black: #1A1A1A;
$black40: #989898;
$black50: #818181;
$black60: #666666;
$black70: #666666;
$black80: #4D4D4D;
$black90: #1a1a1a;
$purple: #9366D7;
$dark-purple: #8743dd;
$light-purple: #C09BF8;
$green: #5ED872;
$yellow: #FFCC50;
$blue: #25B0CF;
$white: #FFFFFF;
$white50: rgba(255, 255, 255, 0.5);
$white20: rgba(255, 255, 255, 0.2);
$white30: rgba(255, 255, 255, 0.3);
$gray:#B3B3B3;
$gray50: #b7b7be;
$silver: #EBEBEF;
$tint: #FEF9EF;


/*   Resolution  */
$hd: 1921px;
$xxxl: 1679px;
$xxl: 1399px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;
