.services-block-testimonial {
    background-color: $purple;
    padding: 90rem 0;
    margin-bottom: 142rem;
    &__description {
        font-size: 32rem;
        line-height: 48rem;
        font-weight: 600;
        margin: 0 0 0 75rem;
        max-width: 749rem;
        border-bottom: 1px solid $black;
        padding-bottom: 32rem;
    }
    &__foto {
        margin: 15rem 0 0 205rem;
        @media(max-width: $xxxl) {
            margin-left: 100rem;
            padding-right: 30px;
        }
    }
    &__person-info {
        margin: 30rem 0 0 75rem;
    }
    &__name {
        margin: 0 0 7rem 0;
        font-size: 24rem;
        font-weight: 600;
        line-height: 36rem;
    }
    &__position {
        margin: 0 0 45rem 0;
        font-size: 16px;
        line-height: 24px;
    }
    &__btn {
        margin: auto;
        display: block;
    }
}