.services-block-two-columns-content-cta {
  padding-bottom: 100rem;
  &__container {
    border-bottom: 1px solid $black40;
    width: 85.8%;
    padding: 0 112rem 96rem 112rem;
    @media (min-width: $hd - 1) {
      max-width: 1650px;
    }
    @media (max-width: $xxxl + 30) {
      padding: 0 40rem 70rem 60rem;
    }
  }
  &__column {
    &--left {
      display: flex;
    }
    &--right {
      @media (min-width: $lg + 1) {
        justify-content: end;
      }
      max-width: 47%;
      padding: 30rem 70rem;
    }
  }
  &__heading {
    border-top: 4px solid $black;
    font-size: 40px;
    line-height: 44px;
    color: $black100;
    max-width: 505rem;
    margin-left: 10rem;
    padding-top: 15rem;
    min-height: 93rem;
    @media(max-width: $xxxl) {
      margin-bottom: 15px;
    }
    @media (max-width: $lg) {
      max-width: inherit;
      min-height: inherit;
    }
  }
  &__description {
    color: $black100;
    font-size: 16px;
    line-height: 26px;
    padding-left: 10rem;
    padding-top: 0;
    padding-right: 70rem;
    min-height: 155rem;
    p {
      margin-top: 0;
      margin-bottom: 0;
      @media(max-width: $xxxl) {
        font-size: 15px;
        line-height: 24px;
      }
    }
    @media (max-width: $xxxl) {
      padding-right: 0;
    }
  }
  &__icon {
    width: 110px;
    height: 110px;
  }
  &__link {
    margin: 45rem 0 102rem 10rem;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    color: $black;
    svg {
      width: 12px;
      position: relative;
      top: 3px;
    }
  }
  &__name {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 50rem;
    margin-bottom: 0;
  }
  &__position {
    font-size: 16px;
    line-height: 24px;
    margin-top: 3px;
    margin-bottom: 27px;
  }
  &__foto {
    margin: 55rem 36rem 25rem 36rem;
  }
  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    padding: 0 40px;
  }
}

.services-block-cta {
  background-color: $black;
  padding: 35rem 70rem;
  min-height: 510rem;
  &__heading {
    color: $white;
    font-size: 48rem;
    line-height: 48rem;
  }
  &__btn {
    margin: 0;
    @media(max-width: $xl) {
      font-size: 13px;
    }
  }
  &__description {
    color: $black40;
    font-size: 24px;
    line-height: 34px;
    padding-left: 0;
    padding-top: 16px;
    margin-bottom: 0;
  }
  &__image {
    margin: 0;
    max-width: 150rem;
    position: absolute;
    right: 53rem;
    bottom: 50rem;
  }
}
