.case-heading-content-right {
  &__container {
    padding: 64rem 140rem 64rem 125rem;
    max-width: 1650px;
    @media (max-width: $md) {
      padding:25px 25px 0 25px;
    }
  }
  &__heading {
    font-size: 48rem;
    line-height: 58rem;
    @media(max-width: $xl) {
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -2px;
    }
  }
  &__icon {
    margin-top: 25rem;
  }
  p {
    margin-top: 0;
    font-size: 18px;
    line-height: 29px;
    @media (max-width: $xl) {
      font-size: 16px;
      line-height: 26px;
    }
  }
  ul,ol {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    li {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 29px;
      @media (max-width: $xl) {
        font-size: 16px;
        line-height: 26px;
        }
    }
  }
}
