.case-studies-two-columns-with-images {
    max-width: 1920px;
    margin: auto;
    overflow: hidden;
    &__column {
        position: relative;
        z-index: 999999;
        margin-bottom: 75rem;
        &:nth-child(odd) {
            text-align: right;
        }
        &.no-margin {
            padding: 0;
        }
        &:last-child,
        &:nth-last-child(2) {
            margin-bottom: 0;
            @media (max-width: $md) {
                margin-bottom: 25px;
              }
        }
    }
}