body {
    overflow: overlay;
}

::-webkit-scrollbar {
    background: transparent;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(147, 102, 215, 0.5);
    border-radius: 10px;
    width: 6px;
}
::-webkit-scrollbar-corner {
    border-radius: 10px;
}

// locomotive

// .c-scrollbar {
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 11px;
//     height: 100vh;
//     transform-origin: center right;
//     transition: transform 0.3s, opacity 0.3s;
//     opacity: 0;
//     z-index: 999999999;
// }

// .c-scrollbar:hover {
//     transform: scaleX(1.45);
// }

// .c-scrollbar:hover,
// .has-scroll-scrolling .c-scrollbar,
// .has-scroll-dragging .c-scrollbar {
//     opacity: 1;
// }

// .c-scrollbar_thumb {
//     position: absolute;
//     top: 0;
//     right: 0;
//     background-color: #9366D7;
//     opacity: 1;
//     width: 7px;
//     margin: 2px;
//     cursor: -webkit-grab;
//     cursor: grab;
// }
// .has-scroll-dragging .c-scrollbar_thumb {
//     cursor: -webkit-grabbing;
//     cursor: grabbing;
// }

// html.has-scroll-smooth {
//     overflow: hidden;
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
// }

// .smooth-scroll {
//     overflow: hidden !important;
// }
// .header {
//     pointer-events: none;
//     border:1px solid red;
// }
// .header a,
// #main-menu,.main-menu{
//     pointer-events: all;
// }

