html,
body {
  font-family: $font-main;
  // overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16rem;
  background-color: $white;
  color: $black;
  @media (max-width: $md) {
    font-size: 14px;
  }
}
// body {
//     position: relative;
// }

// html {
//     scroll-behavior: inherit !important;
// }
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
img,
.wp-block-image img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  &:visited,
  &:hover {
    text-decoration: none;
  }
}
*:focus {
  outline: none;
}
strong {
  font-weight: 900;
}
.border-container {
  width: 100%;
  bottom: 0;
  top: 152rem;
  position: absolute;
  z-index: 999999;
  pointer-events: none;
  .container {
    height: 100%;
    .test {
      height: 100%;
      border: 1px solid #989898;
      @media (max-width: $md) {
        border: 0;
      }
    }
  }
}

#wpadminbar {
  z-index: 1000000;
}

.no-border {
  border: 0 !important;
}

// #smooth-wrapper {
//     &.js-blured {
//         filter: blur(2px);
//         transition-duration: 0.4s;
//     }
// }

// .c-scrollbar_thumb {
//     background-color: $dark-purple;
//     opacity: 1;
// }

.container {
  &__bordered {
    border-left: 1px solid $black40;
    border-right: 1px solid $black40;
    &--first {
      border-top: 1px solid $black40;
    }
    &--last {
      border-bottom: 1px solid $black40;
    }
  }
}

.awarded,.blok-case-studies,.wrapperRollingText,.blok-ebooks{
  overflow: hidden;
}