.arrow-buttons {
    @media (max-width: $md) {
        display: none;
    }
    @media (max-width: 1200px) {
        left: -100rem;
    }
    display: flex;
    gap: 40rem;
    position: absolute;
    left: -60rem;
    overflow: hidden;
    .arrows {
        cursor: pointer;
    }
    .arrow-next,
    .arrow-previous {
        height: 120rem;
        width: 120rem;
        border-radius: 50%;
    }
    .arrow-next {
        &:hover {
            .custom-arrow-element,
            .custom-arrow-element-white  {
                opacity: 1;
                width: 120rem;
                height: 120rem;

                span {
                    left: 15rem;
                    visibility: visible;
                    opacity: 1;
                }
                svg {
                  left: 75%;
                  visibility: visible;
                  opacity: 1;
                  width: 25rem;
                  height: 16rem;
              }
            }
        }
    }
    .arrow-previous {
        &:hover {
            .custom-arrow-element,
            .custom-arrow-element-white  {
                opacity: 1;
                width: 120rem;
                height: 120rem;

                span {
                    left: 55rem;
                    visibility: visible;
                    opacity: 1;
                }
                svg {
                    left: 25%;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        position: relative;
        top: 0;
        margin-top: 0;
        &::after {
            content: none;
        }
    }
    .button-content-next,
    .button-content-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.7s;
        svg {
            fill: $black;
            transition-duration: 0.5s;
            left: 0;
            text-indent: 0;
            position: relative;
            width: 25rem;
            height: 16rem;
        }
    }
    .custom-arrow-element {
        width: 0;
        height: 0;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        opacity: 0.5;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: all 0.2s;
        span {
            color: white;
            font-weight: 500;
            font-size: 22rem;
            position: absolute;
            left: 35rem;
            visibility: hidden;
            opacity: 0;
            transition-delay: 0.1s;
            transition-duration: 0.3s;
        }
        svg {
            fill: white;
            left: 0;
            text-indent: 0;
            position: relative;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            visibility: hidden;
            opacity: 0;
            transition-delay: 0.1s;
            transition-duration: 0.3s;
            width: 25rem;
            height: 16rem;
        }
    }
    .custom-arrow-element-white {
        width: 0;
        height: 0;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        opacity: 0.5;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: all 0.2s;
        span {
            color: black;
            font-weight: 500;
            font-size: 22rem;
            position: absolute;
            left: 35rem;
            visibility: hidden;
            opacity: 0;
            transition-delay: 0.1s;
            transition-duration: 0.3s;
        }
        svg {
            fill: black;
            left: 0;
            text-indent: 0;
            position: relative;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            visibility: hidden;
            opacity: 0;
            transition-delay: 0.1s;
            transition-duration: 0.3s;
            width: 25rem;
            height: 16rem;
        }
    }
}
